.third{
    
    color: black;
    
}

.third text{

    color: black;
    font-size: 20px;
}

.footer-widget{

    color: white;
}
.footer-link-contact{

    color: white;
}
.col-lg-4 col-md-12 col-sm-1{

    color: white;
}